@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --zenith-light-yellow: #ffdd61;
  --zenith-yellow: #fcc919;
  --zenith-dark-yellow: #a48512;
  
  --zenith-light-purple: #650cdb;
  --zenith-purple: #4b02aa;
  --zenith-dark-purple: #28094f;
}

/* Toastify */
.Toastify__toast-theme--light, .Toastify__toast-theme--dark{
  background: var(--zenith-dark-purple) !important;
  outline: solid 1px var(--zenith-yellow);
}

.Toastify__toast-body {
  color: var(--zenith-yellow);
  font-weight: 600;
  text-align: center;
}

.Toastify__close-button > svg {
  fill: var(--zenith-yellow) !important;
}

.Toastify__progress-bar {
  background: var(--zenith-yellow) !important;
}

/* Clerk */

.cl-button{
  color: var(--zenith-yellow);
  
}

.cl-formButtonPrimary{
  color: var(--zenith-purple);
}

.cl-button:hover{
  color: var(--zenith-dark-yellow);
}

.cl-badge{
  color: var(--zenith-dark-purple);
  font-weight: 600;
  background: var(--zenith-dark-yellow);
}

.cl-formButtonPrimary, .cl-socialButtonsBlockButton{
  background-color: var(--zenith-yellow);
  padding: 14px;
}

.cl-formButtonPrimary span, .cl-socialButtonsBlockButton span{
  color: var(--zenith-purple);
  font-size: 1.1rem;
  font-weight: 900;
}

.cl-formButtonPrimary:hover, .cl-socialButtonsBlockButton:hover{
  background-color: var(--zenith-dark-yellow);
}

.cl-input{
  padding: 24px 5px;
  background: var(--zenith-dark-purple);
  color: var(--zenith-yellow);
  outline: 1px solid var(--zenith-dark-yellow);
}

.main-bg{
  background-image: linear-gradient(to right, #28094f, #2f095f, #350970, #3c0881, #420692, #420692, #420692, #420692, #3c0881, #350970, #2f095f, #28094f);
}