@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --zenith-light-yellow: #ffdd61;
  --zenith-yellow: #fcc919;
  --zenith-dark-yellow: #af901d;
  
  --zenith-light-purple: #7434ca;
  --zenith-purple: #4b02aa;
  --zenith-dark-purple: #28094f;
}

/* Toastify */
.Toastify__toast-theme--light, .Toastify__toast-theme--dark{
  background: var(--zenith-light-purple) !important
}

.Toastify__toast-body {
  color: var(--zenith-yellow);
  font-weight: 600;
  text-align: center;
}

.Toastify__close-button > svg {
  fill: var(--zenith-yellow) !important;
}

.Toastify__progress-bar--success {
  background: var(--zenith-yellow) !important;
}

/* Main Backgroung */
.bg {
  animation:slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, var(--zenith-purple) 50%, var(--zenith-dark-purple) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration: 16s;
}

.bg3 {
  animation-duration: 20s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

/* aside decoration */
.aside-decor{
  clip-path: polygon(75% 18%, 100% 29%, 72% 48%, 100% 64%, 72% 81%, 100% 100%, 0 100%, 0 0, 100% 0);
}